@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    justify-content: space-between;
  }

  .SallWhiskyProjekt, 
  .NetvaerksspilProjekt, 
  .ChatroomProjekt {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  .project-img-box {
    width: 100%;
    max-width: 600px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .techSkills_pic-container {
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  nav, #hamburger-nav {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    width: 100%;
  }

  .logoName {
    font-size: 0.5rem;
  }

  .profilePic {
    width: 180px;
    margin-top: 90px;
  }

  #about, #techSkills, #experience, #projects, #contact, footer {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }

  .timeline {
    padding-left: 30px;
  }

  .timeline::after {
    left: 7px;
    width: 1px;
  }

  /* cirklerne oven på stregen */
  .content1::before, 
  .content2::before, 
  .content3::before {
    left: -29px;
    width: 12px;
    height: 12px;
  }


  /* ----------------- PROJECTS  ----------------- */
  #projects {
    margin-top: 100px;
  }

  .tech-badge-container {
    gap: 8px;
  }

  .tech-badge {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
}