@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/* the * = all elements  */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: pink;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* ----------------- TRANSITION ----------------- */

a,
.btn {
  transition: all 300ms ease;
}

/* ----------------- DESKTOP NAV ----------------- */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: white;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: palevioletred;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.logo {
  color: white;
  font-size: 3rem;
}

.logo:hover {
  cursor: default;
}

/* ----------------- HAMBURGER MENU ----------------- */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
  list-style: none;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: white;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: pink;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span :first-child {
  opacity: 1;
}

.hamburger-icon span :first-child {
  transform: none;
}

/* ----------------- Intro section ----------------- */

#introProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#introProfile * {
  color: white;
}

.profilePic {
  width: 400px;
  aspect-ratio: 1 / 1; /* Forces the image to be a square */
  object-fit: cover; /* Prevents the image from looking squashed */
  border-radius: 50%;
}

/* ----------------- About section ----------------- */
#aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 600px;
  margin-top: 200px;
  text-align: left;
  margin-left: 50px;
}

#aboutMe * {
  color: white;
}

#techSkills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 600px;
  margin-left: 50px;
  margin-top: 100px;
}

#techSkills * {
  color: white;
}

.techSkills_pic-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.techSkills_pic-container img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  border-radius: 15px;
  background-color: white;
  padding: 10px;
}

/* ----------------- Experience section ----------------- */
#experienceSection {
    margin-left: 50px;
    margin-top: 150px;
}

#experienceSection h1 {
    color: white;
}

.timeline {
    position: relative;
    padding-left: 40px;
    margin-top: 30px;
}

/* Den lodrette streg */
.timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 12px;
}

.content1, .content2, .content3 {
    position: relative;
    margin-bottom: 50px;
    text-align: left;
}

/* Cirklerne på stregen */
.content1::before, .content2::before, .content3::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: palevioletred;
    border-radius: 50%;
    left: -35.5px; /* Skubber cirklen hen ovenpå stregen */
    top: 5px;
    z-index: 2;
}

.containerRight h2 {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 5px;
    font-weight: lighter;
}

.containerRight h1 {
    font-size: 1.2rem;
    margin: 0 0 10px 0;
    color: white;
}

.containerRight p {
    color: white;
    font-weight: lighter;
}


.btnDownloadCV {
    padding: 8px 20px;      
    border-radius: 15px;     
    background-color: #fff;
    cursor: pointer;
    white-space: nowrap;
    border: none;
    color: palevioletred;
    font-weight: bold;
}


.btnDownloadCV:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
}

/* ----------------- Project section ----------------- */
#projectSection {
    margin-left: 50px;
    margin-top: 150px;
}

#projectSection h1 {
  color: white;
}

.sallPic {
  height: 500px; /* Tilføjet px */
  width: 600px;  /* Tilføjet px */
  object-fit: contain;
  
}